.program {
    padding-top: 72px;
    box-sizing: border-box;
    overflow: hidden;
    background: url('/public/media/images/image-bg_program.png') 50% 125px no-repeat;
    background-size: cover;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: calc(100% - 125px);
        background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(19,19,19,0) 20%, rgba(19,19,19,0) 80%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(19,19,19,0) 20%,rgba(19,19,19,0) 80%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(19,19,19,1) 0%,rgba(19,19,19,0) 20%,rgba(19,19,19,0) 80%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#131313',GradientType=0 );
    }

    &__title {
        margin-bottom: 24px;
        max-width: 250px;
        position: relative;
        z-index: 2;
    }

    &__img {
        display: none;
    }

    &__tabs {
        margin-bottom: 24px;
    }

    &__block {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: all;
            transform: translate(0,0);
            transition-delay: .35s;
        }

        &:first-of-type {
            position: relative;
        }
    }

    &__background-left {
        display: none;
    }

    &__training-lists {
        //height: 327px;
        width: 100%;
        position: relative;
        display: block;
    }

    &__item {

        & + .program__item {
            margin-top: 24px;
        }

        span {
            font-family: extraBold;
        }

        &--small-font {
            font-size: 16px;
            line-height: 21px;

            span {
                display: block;
                margin-bottom: 12px;
            }

            p {
                max-width: 280px;
            }
        }

        &--big-font {
            display: inline-block;
            margin-right: 44px;

            span {
                font-size: 20px;
                line-height: 21px;
                margin-bottom: 4px;
            }

            p {
                font-size: 12px;
                line-height: 17px;
            }
        }
    }

    &__list {

        &--right {
            margin-right: -44px;
        }

        & + .program__list {
            margin-top: 24px;
        }
    }

    &__button {
        &--prices {
            margin-top: 28px;
            width: 280px;
        }
    }

    &__tabs {
        max-width: 280px;
    }

    @media (min-width: 650px) {
        background: url('/public/media/images/dust.png') 50% 100px no-repeat;
        background-size: auto;

        &:before {
            display: none;
        }

        &__title {
            margin-bottom: 32px;
            max-width: none;
            padding: 0 span(0.5 of 8);
        }

        &__fighter {
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            padding-right: 13px;
            margin-top: -15px;
            width: 43%;
            position: relative;
            //overflow: hidden;
        }

        &__background-left {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 120%;
            height: 120%;

            img {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0,-50%);
                width: 100%;
            }
        }

        &__img {
            display: block;

            img {
                width: 36vw;
                max-width: 507px;
            }
        }

        &__content {
            display: inline-block;
            vertical-align: top;
        }

        &__item {

            &--small-font {

                &:first-of-type {
                    p {
                        max-width: 190px;
                    }
                }

                &:last-of-type {
                    p {
                        max-width: 176px;
                    }
                }
            }

            &--big-font {
                display: block;
                margin-right: 0;

                p {
                    max-width: 85px;
                }

                span {
                    font-size: 28px;
                    line-height: 28px;
                }
            }
        }

        &__block {
            width: 100%;
        }

        &__list {
            display: inline-block;
            vertical-align: top;
            margin-right: 0;

            & + .program__list {
                margin-top: 0;
                margin-left: 6%;
            }


            &--left {
                width: 60%;
            }

            &--right {
                width: 34%;
            }
        }

        &__button {
            &--prices {
                margin-top: 36px;
                width: 225px;
            }
        }

        &__tabs {
            max-width: 380px;
        }
    }

    @media (min-width: 1200px) {
        padding-top: toRem(114);
        background: url('/public/media/images/dust-desktop.png') 50% 0 no-repeat;
        background-size: auto 90%;

        &__title {
            margin: 0 0 toRem(40) toRem(547);
            max-width: toRem(420);
        }

        &__tabs {
            margin-bottom: toRem(48);
            max-width: toRem(426);
        }

        &__fighter {
            margin: -(toRem(180)) toRem(42) 0 span(0.5 of 8);
            width: auto;
            //overflow: hidden;
        }

        &__img {


            img {
                max-width: none;
                width: toRem(507);
            }
        }

        &__button {
            &--prices {
                margin-top: toRem(56);
                width: toRem(225);
            }
        }

        &__item {

            & + .program__item {
                margin-top: toRem(20);
            }

            &--small-font {
                max-width: toRem(240);
                font-size: toRem(16);
                line-height: toRem(20);

                span {
                    margin-bottom: 8px;
                }

                &:first-of-type {
                    p {
                        max-width: none;
                    }
                }

                &:last-of-type {
                    p {
                        max-width: none;
                    }
                }
            }

            &--big-font {
                display: block;
                margin-right: 0;

                span {
                    font-size: toRem(32);
                    line-height: toRem(35);
                    margin-bottom: 0;
                }

                p {
                    max-width: none;
                    font-size: toRem(12);
                    line-height: toRem(17);
                }
            }
        }

        &__list {
            display: inline-block;
            vertical-align: top;
            margin-right: 0;

            & + .program__list {
                margin-left: toRem(40);
            }


            &--left {
                width: auto;
            }

            &--right {
                width: auto;
            }
        }
    }
}